.header {
  position: fixed;
  right: 0;
  z-index: 12;
  padding-top: 17px;
  background-color: #fff;
  height: 50px;
  width: 100%;

  
}

.header-top {
  display: flex;
  justify-content: flex-end;


  .header-menu {
    .header-menu-list {
      display: flex;

      .header-menu-list-title {
        padding-right: 33px;
        font-weight: 600;
        font-size: 20px;

        .header-menu-list-title-link {
          transition: color .2s;

          &:hover {
            color: #FF6464;
          }
        }
      }
    }
  }
}
.header-menu-burger{
  display: none;
}


