.header {
  position: fixed;
  right: 0;
  z-index: 12;
  padding: 17px 33px;
  background-color: #fff;
  width: 100%;

  
}

.header-top {
  display: flex;
  justify-content: flex-end;


  .header-menu {
    .header-menu-list {
      display: flex;
      flex-wrap: wrap;

      .header-menu-list-title {
        padding-right: 33px;
        font-weight: 600;
        font-size: 20px;
        &:last-child{
          padding-right: 0;
        }

        .header-menu-list-title-link {
          transition: color .2s;

          &:hover {
            color: #FF6464;
          }
        }
      }
    }
  }
}
.header-menu-burger{
  display: none;
}
.header-use-title{
  color: #FF6464;
}


