.border{
  min-height: 2px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}
.modern{
  margin-bottom: 30px;
}
.blog{
  margin: 0;
  padding-top: 100px;
}
.use-title a{
  color: #FF6464;
}

