.featured-works-wrapper{
  margin-bottom: 50px;
  .featured-works-item{
    display: flex;
    margin-bottom: 30px;
    img{
      border-radius: 3%;
      width: 250px;
    }
    a{
      height: 100%;
      display: block;
    }
    .featured-works-item-photo{
      margin-right: 18px;
      cursor: pointer;
    }
    .featured-works-item-inner{
      .featured-works-item-title{
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 15px;
      }
      .featured-works-item-data{
        align-items: center;
        margin-bottom: 20px;
      }
    }
  }
}
.style{
  color: #8695A4;
  font-weight: 400;
  font-size: 20px;
}